{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2 class="text-center">Welcome to the Swift/UVOT GW TOM Toolkit.</h2>
    <p class="text-center"><img src="{% static '/img/Ssatellite.jpg' %}" class="img-fluid mx-auto"></p>
    <p class="text-center"><img src="{% static '/img/170817A_uvot.png' %}" class="img-fluid mx-auto"></p>
    <h3>Quick links</h3>
    <ul>
      <li>
        <a href="{% url 'targets:create' %}" title="Create Target">Add a new source (target) </a>.
      </li>
      <li>
        <a href="{% url 'todolist' %}" title="Checklist">UVOT Checklist</a>
      </li>
      <br>
      <li>
        <a href="{% url 'draftdetectiongcn' %}" title="Draft detection GCN">Draft detection GCN</a>
      </li>
      <li>
        <a href="{% url 'draftsummarygcn' %}" title="Draft summary GCN">Draft summary GCN</a>
      </li>
<!--       <li>
        Customize this page by editing the
        <code>templates/tom_common/index.html</code> file or by editing your
        project's <code>urls.py</code>.
      </li>
-->
    </ul>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
    </div>
    <br/>
</div>
{% endblock %}
