# Python
*.pyc
*~
*/~
*/*/~
__pycache__
*/__pycache__
*/__init__.py
# Env
.env
myvenv/
venv/
*/.env*

# Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

*/data/

/swift_uvot_gw/.env
