{% load bootstrap4 %}
<form action="{% url 'targets:list' %}" method="GET">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Group</th>
        <th>Total Targets</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for group in object_list %}
      <tr>
        <td><button type="submit" class="btn btn-link" name="targetlist__name" value="{{group.id}}" title="View Group">{{ group.name }}</button></td>
        <td valign="middle">{{ group.targets.count }}</td>
        <td><a href="{% url 'targets:delete-group' group.id%}" title="Delete Group" class="btn btn-danger">Delete</a></td>
      </tr>
      {% empty %}
      <tr>
        <td>No groups yet</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

