{% extends 'tom_common/base.html' %}
{% block content %}
<h2 class="text-center">Draft summary GCN.</h2>

<div class="row">
  <div class="col-md-8">
    <p>
  LIGO/Virgo SXXXXXXX:
  <br>
  <br>
  N. P. M. Kuin (UCL-MSSL), A. A. Breeveld (MSSL-UCL), P. Brown (TAMU),
  <br>
  C. Gronwall (PSU), F. E. Marshall (NASA/GSFC), S. R. Oates (U. Birmingham), 
  <br>
  M.J. Page (UCL-MSSL), M. De Pasquale (Istanbul U.), M. H. Siegel (PSU),
  <br>
  A. D'Ai (INAF-IASFPA), P. D'Avanzo (INAF-OAB), S. D. Barthelmy (NASA/GSFC), 
  <br>
  A. P. Beardmore (U. Leicester), D. N. Burrows (PSU), S. Campana (INAF-OAB), 
  <br>
  S. B. Cenko (NASA/GSFC), G. Cusumano (INAF-IASF PA), V. D'Elia(ASDC), 
  <br>
  P. A. Evans (U. Leicester), P. Giommi (ASI), D. Hartmann (Clemson U.), 
  <br>
  J. A. Kennea (PSU), N. J. Klingler (PSU), H. A. Krimm (NSF), A. Y. Lien (GSFC/UMBC), 
  <br>
  D. B. Malesani (DTU Space), A. Melandri (INAF-OAB), J. A. Nousek (PSU), 
  <br>
  P. T. O'Brien (U. Leicester), J. P. Osborne (U. Leicester), C. Pagani (U. Leicester), 
  <br>
  K. L. Page (U.Leicester), D.M. Palmer (LANL), M. Perri (ASDC), J. L. Racusin (NASA/GSFC), 
  <br>
  T. Sakamoto (AGU), B. Sbarufatti (INAF-OAB/PSU), G. Tagliaferri (INAF-OAB), 
  <br>
  A. Tohuvavohu (U Toronto), and E. Troja (NASA/GSFC/UMCP) report on behalf of the Swift team:
  <br>
  <br>
  The Swift UVOT instrument started follow up observations of the LIGO-Virgo
 event SXX (LVC GCN Circ. XX) XXks after the trigger following the tiling
 programme described in XX et al. (GNC Circ. XX).
  <br>
  <br>
The UVOT approach for searching for the ultraviolet-optical counterpart 
has been described in Kuin et al. (GCN Circ. 24767). The limiting magnitude 
can vary but typically is 18.6th magnitude (Vega) in the u filter. In the XX 
fields that were observed, UVOT detected XX counterpart candidates and XX 
catalogued galaxies. None of the candidates from the automated processing 
proved to be a viable candidates. Neither did the additional inspection of 
all XX imaged galaxies lead to a candidate missed by the automated processing.
  <br>
  <br>
  This circular is an official product of the Swift team.
</p>
</div>
{% endblock %}
